# Ignore temporary Android build output, cache, and IDE files inside APK directory
APK/.gradle/
APK/.idea/
APK/build/
APK/app/build/
APK/*.iml
APK/app/*.iml

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class

# Local data & environment files
playlists.json
.env
jdk-17/
android-sdk/
test_sdk.py
WuvosMusic.apk
songs/
