# Core Application Dependencies
Flask>=3.0.0

# Production & Server Deployment (Optional)
gunicorn>=21.2.0        # Production WSGI HTTP server
python-dotenv>=1.0.0    # For managing environment variables (.env)
